
body {          
    background: url("https://esw1234.github.io/Spotify-large.png") no-repeat;
    background-attachment:fixed;
}
#button_goes_here{
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    position: relative;	              
}
#text {
    width: 65%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 3px 0px 0px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #0074bd;
    display: block;
    transition: 0.4s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-right: 15px;
}


