.siteforceNapiliBody .uiTabset--default>.uiTabBar .uiTabItem.active .tabHeader, .siteforceNapiliBody 
.uiTabset--default>.uiTabBar .uiTabItem .tabHeader:active {
	border-bottom: 4px solid #a95e25;
}

#button_goes_here{
	width: 100%; 
	height: 100%; 
	margin: 0 auto;
	position: relative;        
}

#NapiliCommunityTemplate > div.cCenterPanel > div > div.row.contentPanel > div.col-lg-8 > 
div > div > div > div > ul > li.featuredTab.tabs__item.active.uiTabItem > a {
	background: #fff;
}

#NapiliCommunityTemplate > div.cCenterPanel > div > div.row.contentPanel > div.col-lg-8 > div > div > div > div > ul > li {
	background: #fff;
	border-bottom: 4px solid #000;
}
