#button_goes_here{
	width: 100%; 
	height: 100%; 
	margin: 0 auto;
	position: relative;        
}

.uiTabBar {
	border-bottom-color: #000;
}

.uiTabset--default .tabs__item {
	background: #fff;
}

.uiTabset--default .tabs__item.active>a {
	background: #fff;
}
