body {
  background-image: url("capwebsite.jpg");
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden;
  width: 100vw;
  height: 142vw;
}
