
body {          
    background: url("https://esw1234.github.io/Spotify-large.png") no-repeat;   
}
#pageTitle {
    color: red; 
    background: black;
}

.topIcon {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
}

.topIcon a {
    color: white;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: 0.4s
}

.topIcon a:hover, .offcanvas a:focus{
    color: #0074bd;
   
    
}
#button_goes_here{
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    position: relative;	              
}

.sidenav {
    height: 60%;
    width: 0;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
    top: 85px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 10px;
    margin-left: 5px;	
}

.sidenav a {
    padding: 3px 0px 20px 10px;
    text-decoration: none;
    font-size: 14px;
    color: #0074bd;
    display: block;
    transition: 0.4s    
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#menuLinks {
    width: 200px;
}

#text {
    margin-top:21px;
    width: 50%;
    transition: margin-left .5s;
    background: lavender;
    border-radius: 10px;
    padding: 20px;
}

#helpButtonLink {
	color: black;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: 0.4s
}

#helpButtonLink a {
	color: black;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    transition: 0.4s
}

#helpButtonLink a:hover, .offcanvas a:focus{
    color: #0074bd;
}
